@model IEnumerable<WebProgramlamaOdev.Models.Hasta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HastaAdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HastaTC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HastaPass)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HastaAdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HastaTC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HastaPass)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HastaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HastaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HastaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
