@model IEnumerable<WebProgramlamaOdev.Models.Randevu>

@{
    ViewData["Title"] = "RandevuControl";
}
@{
    Layout = "_LayoutAna";
}

<h1>RandevuControl</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bolum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doktor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointments in Model)
        {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => appointments.Hasta.HastaAdSoyad)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => appointments.Bolum.BolumAdi)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => appointments.Doktor.DoktorAdi)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => appointments.Saat.Saatler)
            </td>
        </tr>
}
    </tbody>
</table>
